Repository devcpu/beekeepers_invoice: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, python-safety-dependencies-check

Path conditions:
  py-compile: any of: \.py$ and not ((attic|tests|docs|files)/.*) and not ((docs|_build|tests|logs|migrations|migrations_archive|pdfs|venv|scripts)/.*)
  python-safety-dependencies-check: any of: setup.cfg, but not: (docs|_build|tests|logs|migrations|migrations_archive|pdfs|venv|scripts)/.*

docs: update .instructions.md for Python/Flask project standards
  .instructions.md
Due: none

small changes
  .instructions.md
Due: none

fix: suppress remaining pylint warnings with inline comments
  .copilot-instructions.md
  .instructions.md
  .pre-commit-config.yaml
  .version
  DOCKER_DEPLOYMENT.md
  GOBD_COMPLIANCE.md
  MIGRATIONS.md
  PRE_COMMIT_SETUP.md
  README.md
  SETUP_INTEGRATED.md
  app.py
  docker-compose.integrated.yml
  docker-compose.yml
  eslint.config.js
  static/service-worker.js
  templates/auth/login.html
Due: py-compile

config: DNS Challenge von Cloudflare auf http.net umstellen
  .env.docker
  DOCKER_DEPLOYMENT.md
  docker-compose.yml
  traefik/traefik.yml
Due: none

feat: docker-compose.test.yml fuer lokalen Probelauf ohne Traefik
  .env.docker
  docker-compose.test.yml
Due: none

fix: /health Endpoint - SQLAlchemy 2.x verlangt text() fuer Rohtext-SQL
  app.py
Due: py-compile

docs: AGENTS.md, PROJECT.md, CLAUDE.md ergaenzt, README.md aktualisiert
  AGENTS.md
  CLAUDE.md
  PROJECT.md
  README.md
Due: none

docs: .instructions.md und .copilot-instructions.md in AGENTS.md eingearbeitet
  .copilot-instructions.md
  .instructions.md
  AGENTS.md
Due: none

docs: PRE_COMMIT_SETUP.md und SETUP_INTEGRATED.md korrigiert
  PRE_COMMIT_SETUP.md
  SETUP_INTEGRATED.md
Due: none

docs: TODO.md fuer Aufraeum- und Refactoring-Arbeiten angelegt
  TODO.md
Due: none

chore: Postgres-Altlasten und verwaistes migrations/-Verzeichnis entfernt
  AGENTS.md
  TODO.md
  config.py
  fix_permissions.sql
  migrations/add_totp_required.py
  migrations/create_users_table.py
  requirements.txt
  setup.cfg
Due: py-compile, python-safety-dependencies-check

chore: debug_hash.py und regenerate_hashes.py geloescht
  AGENTS.md
  TODO.md
  debug_hash.py
  regenerate_hashes.py
Due: py-compile

chore: tote SESSION_TYPE/JWT_SECRET_KEY-Variablen komplett entfernt
  .env.docker
  AGENTS.md
  README.md
  SETUP_INTEGRATED.md
  TODO.md
  docker-compose.integrated.yml
  docker-compose.test.yml
  docker-compose.yml
Due: none

refactor: doppelten Faltmarken-Code in pdf_utils.py zusammengefuehrt
  AGENTS.md
  Dockerfile
  TODO.md
  delivery_note_service.py
  pdf_service.py
  pdf_utils.py
  reminder_service.py
Due: py-compile

test: Testinfrastruktur + Modell-Tests fuer Steuerberechnung/Hash/Bestand
  config.py
  requirements.txt
  tests/conftest.py
  tests/invoice_model_test.py
Due: py-compile

test: Route-Tests + kritischen float/Decimal-Bug in Rechnungserstellung entdeckt
  AGENTS.md
  TODO.md
  tests/routes_smoke_test.py
Due: none

fix: kritischen float/Decimal-Bug in Rechnungserstellung behoben
  app.py
  tests/routes_smoke_test.py
Due: py-compile

docs: TODO.md aktualisiert -- beide Bugs behoben und live verifiziert
  TODO.md
Due: none

fix: 2 weitere Bugs behoben + GoBD-Workflow-Tests (Teil A4 abgeschlossen)
  .pre-commit-config.yaml
  AGENTS.md
  TODO.md
  app.py
  tests/conftest.py
  tests/invoice_workflow_test.py
Due: py-compile

refactor: Blueprint-Split Teil 1 -- main + auth aus app.py extrahiert
  app.py
  auth_utils.py
  blueprints/__init__.py
  blueprints/auth.py
  blueprints/main.py
  templates/auth/2fa_backup_codes.html
  templates/auth/2fa_setup.html
  templates/auth/forgot_password.html
  templates/auth/login.html
  templates/auth/reset_password.html
  templates/auth/verify_2fa.html
  templates/base.html
  templates/pos.html
  templates/settings.html
  tests/endpoints_test.py
Due: py-compile

refactor: Blueprint-Split Teil 2 -- api Blueprint (JWT + Web-UI-Hilfsendpoints)
  app.py
  blueprints/api.py
  invoice_numbering.py
Due: py-compile

refactor: Blueprint-Split Teil 3 -- products Blueprint
  app.py
  blueprints/products.py
  templates/base.html
  templates/index.html
  templates/pos.html
  templates/products/create.html
  templates/products/edit.html
  templates/products/list.html
  templates/products/view.html
Due: py-compile

refactor: Blueprint-Split Teil 4 -- customers Blueprint
  app.py
  blueprints/customers.py
  templates/base.html
  templates/customers/edit.html
  templates/customers/list.html
  templates/customers/view.html
Due: py-compile

refactor: Blueprint-Split Teil 5 -- pos Blueprint
  app.py
  blueprints/pos.py
  templates/base.html
  templates/pos.html
Due: py-compile

refactor: Blueprint-Split Teil 6 -- reports Blueprint
  app.py
  blueprints/reports.py
  templates/base.html
  templates/reports/annual_revenue.html
Due: py-compile

refactor: Blueprint-Split Teil 7 -- users/settings Blueprint
  app.py
  blueprints/auth.py
  blueprints/users.py
  templates/auth/2fa_setup.html
  templates/base.html
  templates/settings.html
  templates/users/create.html
  templates/users/edit.html
  templates/users/list.html
Due: py-compile

refactor: Blueprint-Split Teil 8+9 -- delivery_notes und invoices Blueprint
  app.py
  blueprints/delivery_notes.py
  blueprints/invoices.py
  templates/base.html
  templates/consignment/overview.html
  templates/customers/view.html
  templates/delivery_notes/create.html
  templates/delivery_notes/list.html
  templates/delivery_notes/view.html
  templates/index.html
  templates/invoices/create.html
  templates/invoices/create_cancellation.html
  templates/invoices/create_reminder.html
  templates/invoices/list.html
  templates/invoices/send_email.html
  templates/invoices/view.html
  templates/payments/review.html
  templates/stock_adjustments/create.html
  templates/stock_adjustments/list.html
  tests/endpoints_test.py
Due: py-compile

docs: AGENTS.md/PROJECT.md/TODO.md nach Blueprint-Split aktualisiert
  AGENTS.md
  PROJECT.md
  TODO.md
Due: none

feat: Honig-Rueckverfolgbarkeit -- Eimer, Charge, Abfuellung (Phase 1)
  AGENTS.md
  PROJECT.md
  TODO.md
  alembic/versions/7913dcf058d0_honig_rueckverfolgbarkeit_eimer_charge_.py
  app.py
  blueprints/production.py
  models.py
  templates/production/abfuellung_create.html
  templates/production/abfuellung_detail.html
  templates/production/abfuellung_list.html
  templates/production/eimer_befuellen.html
  templates/production/eimer_create.html
  templates/production/eimer_detail.html
  templates/production/eimer_list.html
  tests/production_test.py
Due: py-compile

feat: Navigationslink zur Honig-Produktion ergaenzen
  templates/base.html
Due: none

fix: Docker-Healthcheck -- fehlendes 'requests'-Modul im Image
  Dockerfile
Due: none

feat: Wassergehalt-Prozent-Feld fuer HonigCharge ergaenzen
  AGENTS.md
  alembic/versions/d0d304c713f2_honigcharge_wassergehalt_prozent_feld_.py
  blueprints/production.py
  models.py
  templates/production/abfuellung_create.html
  templates/production/eimer_befuellen.html
  templates/production/eimer_detail.html
  tests/production_test.py
Due: py-compile

feat: Geraete-Tokens fuer App-Zugriff (mehrere Geraete pro User)
  AGENTS.md
  alembic/versions/b4134be103fd_geraete_tokens_mehrere_pro_user_api_.py
  blueprints/api.py
  blueprints/users.py
  config.py
  models.py
  templates/base.html
  templates/users/device_tokens.html
  tests/device_token_test.py
Due: py-compile

fix: Geraete-Token nicht mehr als Query-Parameter im Redirect
  blueprints/users.py
  templates/users/device_tokens.html
  tests/device_token_test.py
Due: py-compile
